GetUser/Resources/GetUserReference.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="GetUserReference">RestReference</doc>
   <resources>
      <resource path="/user">
         <method name="GET" soa:name="GetUserQuery">
            <request>
               <param name="id" style="query" type="xsd:long"/>
            </request>
            <response>
               <representation mediaType="application/json"/>
            </response>
            <response/>
         </method>
      </resource>
      <resource path="/user/{id}">
         <method name="GET" soa:name="GetUserTemplate">
            <request>
               <param name="id" style="template" type="xsd:long"/>
            </request>
            <response>
               <representation mediaType="application/json"/>
            </response>
            <response/>
         </method>
      </resource>
   </resources>
</application>
